BOT_NAME=
BOT_TOKEN=
BOT_ADMIN_IDS=
BOT_SUBSCRIPTION_CHANNELS=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_BROKER_DB=0
REDIS_BACKEND_DB=1
REDIS_MEDIA_CACHE_DB=2
REDIS_USER_SESSION_DB=3
REDIS_USER_ACTIVITY_DB=4
REDIS_FILE_ID_DB=5

TELEGRAM_HTTP_PORT=8081
BOT_SERVER_URL="http://telegram-bot-api:8081"

BROWSER_COOKIE_PATH="/app/cookies/cookies.txt"
MEDIA_STORAGE_PATH="/app/src/storage/downloads"

MASSBOTS_TOKEN=
MASSBOTS_BOT_ID=
TRIBUTE_API_KEY=
TRIBUTE_URL=

    
